.claude

task5/.terraform
task5/.terraform.lock.hcl
task5/linode-config.yaml
task5/terraform.tfvars
task5/terraform.tfstate
task5/terraform.tfstate.backup

*.tgz

assets/

# task11 sensitive credentials
task11/access-key
task11/secret-access-key
task11/vault_token.md
